$topbar: 80px;
$topbar-mobile: 60px;
$page-gutter: 4rem;
$page-gutter-mobile: 2rem;

$font-color--dark: #333;

$background-transition--length: 800ms;
$background-transition--background: 500%;
$background-transition--time: 12s;
$animation-curve: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$background-color1: #fdfbfb;
$background-color2: #ebedee;

$border-width: 2px;
$border-color: #eaeaea;

%readableText{
  font-variation-settings: 'wght' 375 !important;
  letter-spacing: .5px !important;
  font-size: clamp(100%, 3.5vw, 1.14rem) !important;
  font-size: min(max(1rem, 3.5vw), 1.14rem) !important;
  line-height: 1.8;
}