$topbar: 80px;
$topbar-mobile: 60px;
$page-gutter: 4rem;
$page-gutter-mobile: 2rem;

$font-color--dark: #333;

$background-transition--length: 800ms;
$background-transition--background: 500%;
$background-transition--time: 12s;
$animation-curve: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$background-color1: #fdfbfb;
$background-color2: #ebedee;