@import "_vendor.mixins";
@import '_vars';
@font-face {
  font-family: "Urbanist";
  src: url("/fonts/Urbanist/Urbanist-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Urbanist";
  font-variation-settings: 'wght' 375;
}

* {
  box-sizing: border-box;
}

main{
  min-height: calc( 100vh - #{$topbar});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 $page-gutter;
  @include media("<=tablet"){
    padding: 0 $page-gutter-mobile;
  }
}

// Type
// https://css-tricks.com/simplified-fluid-typography/
// https://type-scale.com/ (augmented 4th)
h1, h2, h3, h4, h5 {
  line-height: 1.3;
}
h1 {
  font-size: clamp(100%, 3rem + 4vw, 5.653rem);
}
h2 {
  font-size: 3.998rem;
  background: greenyellow;
}
h3 {
  font-size: 2.827rem;
  background: greenyellow;
}
h4 {
  font-size: 1.999rem;
  background: greenyellow;
}
h5 {
  font-size: 1.414rem;
  background: greenyellow;
}
small, .text_small {
  font-size: 0.707rem;
}
p{
  //@extend h5;
  font-variation-settings: 'wght' 375;
  letter-spacing: .5px;
  font-size: clamp(100%, 3.5vw, 1.414rem);
  font-size: min(max(1rem, 3.5vw), 1.414rem);
}
a {
  color: inherit;
  text-decoration: none;
}