@import 'theme';

$mobileBreakpoint: 1024px;


.LivingIdea{
  display: grid;
  grid: auto / 275px 75ch;
  grid-column-gap: 4rem;
  > * {
    min-height: 100%;
  }
  padding-top: max(3vh, 2rem);

  background: red;


  @include media("<=1250px") {
    display: grid;
    grid: auto / 275px 60ch !important;
    grid-column-gap: 2rem !important;
    background: green !important;
  }
  @include media("<=1023px") {
    display: grid;
    //grid: auto / 275px 60ch !important;
    grid: 60px auto / auto !important;
    grid-column-gap: unset !important;
    background: yellow !important;
  }

  article{
    >section:not(:last-of-type){
      padding-top: 1rem;
      margin-bottom: max(25vh, 4rem);
    }
  }
}
.toc{
  >section {
    position: sticky;
    top: 2rem;
    > section {
      padding-left: 1rem;
    }
  }
}
.visual{
  //background: yellow;
}

.notionPage{
  main{
    all: unset !important;
    display: block;
    hr{
      background-color: $border-color !important;
      width: 200px !important;
      margin: 2ch 0;
    }
  }
  h1{
    font-size: 2.827rem !important;
    margin: 0 !important;
  }
  h2, h3{ // h4 from global
    font-size: 1.999rem !important;
    margin: 0 !important;
  }
  li, p{
    @extend %readableText;
  }
  figure{
    max-width: 100%;
    @include media("<=1024px") {
      width: 100% !important;
    }
    >div{
      padding-bottom: 0 !important;
    }
  }

  // taken from global
  ::selection{
    background: #333;
    color: #fff;
    text-shadow: none;
  }
}