@import '_vars';

.renderTitles{
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
  &:last-of-type{
    border-bottom: none !important;
  }
  p{
    opacity: 0.4;
    line-height: 1.5;
    font-size: 1.414rem;
    max-width: 55ex;
    margin: .5rem 0;
  }
}