@import '_vars';

.renderTitles{
  width: 100%;
  max-width: 320px;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
  &:last-of-type{
    border-bottom: none !important;
  }
  p{
    //opacity: 0.4;
    line-height: 1.5;
    font-size: 1.414rem;
    max-width: 55ex;
    margin: .5rem 0;
  }
}
.renderTitlesPublished{
  @extend .renderTitles;
  cursor: pointer;
}

.ExpandingLabel{
  display: inline;
  &:after{
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: text-bottom;
    transition: .2s linear;
    content: 'ving idea';
    white-space: nowrap;
  }
  &:hover:after{
    width: 9.5ch;
  }
}
.ExpandedLabel{
  &:after{
    width: 9.5ch;
  }
}

.thumbnailTiles{
  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
  border: $border-width $border-color solid;
  transition: all .25s ease-in;
  border-radius: 1.2rem;
  em{
    font-style: normal;
  }
  p{
    margin: 0 0 1rem 0;
  }
}
.thumbnailTilesActive{
  @extend .thumbnailTiles;
  border: $border-width $font-color--dark solid;

}