@import "theme";
.TopBar{
  box-sizing: border-box;
  height: $topbar;
  padding: 1rem $page-gutter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  svg{
    height: 100%;
  }

  @include media("<=880px") {
    height: $topbar-mobile;
    padding: 1rem $page-gutter-mobile;
  }
}